* {
    box-sizing: border-box;
    transition: 0.5s all ease;
    margin:0;
    font-family: Merriweather, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

body {
    width:100%;
    display: flex;
    gap:40px;
    justify-content: center;
    padding-top: 200px;
}

td {
    padding: 20px 20px;
}

.button {
    position:absolute;
    width:40px;
    height:40px;
    background-color: whitesmoke;
    border-radius: 9999px;
    transform:translate(10%,10%);

}

.bar {
    position:relative;
    width:100px;
    height:50px;
    background-color: lightgray;
    border-radius: 9999px;
    z-index: -1;
}


